{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "no-trailing-spaces": "error",
    "quotes": [
      "error",
      "single"
    ],
    "no-undef": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/member-delimiter-style": ["error", {
          "multiline": {
            "delimiter": "none",
            "requireLast": true
          },
          "singleline": {
            "delimiter": "comma",
            "requireLast": false
          }
        }],
        "@typescript-eslint/prefer-as-const": "off"
      }
    }
  ]
}