
body {
  overflow: hidden;
}

#app {
  display: flex;
  justify-content: center;
  background: aliceblue;
  min-height: 1000px;
  padding-top: 100px;
}

#calcImg {
  width: 370px;
  height: 500px;
}

#someText {
  min-height: 200px;
  background-color: antiquewhite;
  margin: 10px auto;
  font-size: 40px;
}